body{
    background-color: cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    color: cornsilk;
}
#container {
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 0%; 
    border-style: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 3em;
}

#Startbutton{
    font-family: monospace;
    color: black;
}

#timer{
    font-size: 30px;
}